body {
  font-family: Arial, sans-serif;
  background-color: lightgrey;
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
  color: #833345;
  font-size: 75px;
  text-align: center;
  line-height: 1.5;
  font-weight: bold;
  text-decoration: dotted;
  text-decoration-color: blue;
  text-decoration-thickness: 10px;
  text-decoration-line: underline;

  border: 1px solid black;

  z-index: 1;
  visibility: visible;
  overflow: auto;
  opacity: 0.5;
  cursor: crosshair;
}

.text {
  font-size: 23px;
  color: #494949;
}

.toggle {
  position: relative;
  width: 40px;
  height: 20px;
  border: 2px solid #494949;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.3s;
}

.text2 {
  font-size: 23px;
  color: #494949;
}

.toggle2 {
  position: relative;
  width: 40px;
  height: 20px;
  border: 2px solid #494949;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.3s;
}

.text3 {
  font-size: 23px;
  color: #494949;
}

.toggle3 {
  position: relative;
  width: 40px;
  height: 20px;
  border: 2px solid #494949;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.3s;
}

.circle {
  position: absolute;
  left: 0;
  width: 20px;
  height: 20px;
  border-radius: 20px;
  background-color: #494949;
  transition: 0.3s;
}

.active {
  border-color: rgb(85, 227, 180);
}

.active + .text {
  color: rgb(85, 227, 180);
}

.active .circle {
  left: 100%;
  transform: translateX(-100%);
  transition: 0.3s;
  background-color: rgb(85, 227, 180);
}