
    
<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org" data-bs-theme="dark">

<head>
    <title>Character Lab</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="/css/styles.css"/>
    
   
    
</head>

  <nav class="flex items-center justify-between px-6 py-4 bg-black/80 backdrop-blur-md sticky top-0 z-50 border-b border-white/10">
        
        
        <div class="hidden md:flex space-x-10 text-sm font-bold tracking-widest">
            <a th:href="@{/characterlab}" class="hover:text-red-500 transition">Character Lab</a>
        </div>

       
    </nav>
    
 
    <div class="container-sm">

        <h1 >Add Character</h1>

        <form th:action="@{charactersave}" method="post" enctype="multipart/form-data" th:object="${character}">

            <h3>
                <label for="name" class="form-label">Character Name</label>
                <input type="text" class="form-control" id="name" name="name" th:value="*{name}" required
                    placeholder="Character Name" />
            
            </h3>
            
           <h3>
                <label for="author" class="form-label">Character Author</label>
                <input type="text" class="form-control" id="author" name="author" th:value="*{author}"
                    placeholder="Author Name" />
            </h3>

            <h3>
                <label for="description" class="form-label">Character Description</label>
                <textarea class="form-control" id="description" name="description" th:text="*{description}" required
                    placeholder="Description of the character"></textarea>
            </h3>
            <h3>
                <label for="image" class="form-label">Character Image</label>
                <input type="file" class="form-control" id="image" name="image" accept="image/*" />
            </h3>
            <h3>
                <label for="email" class="form-label">Character Email</label>
                <input type="email" class="form-control" id="email" name="email" th:value="*{email}" required
                    placeholder="example@example.com" />
            </h3>
            <!--
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />-->
            <input type="submit" class="btn btn-success" value="Add" />
            <a href="explorer" class="btn btn-outline-secondary">Cancel</a>
        </form>
    </div>
    


</html>









